# NECESSARY PARAMETERS
ref_pdb = '/media/rbdavid/edi/Projects/ornl_HGF/hgf_36_125_wt/Analyses/Exemplar_Structures/models_1.5.average_structure.pdb' 		# Local or Global position of the pdb file of the average structure of the system to be analzyed
pdb = '/media/rbdavid/edi/Projects/ornl_HGF/hgf_36_125_wt/truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '/media/rbdavid/edi/Projects/ornl_HGF/hgf_36_125_wt/model_XXX/trajectories/hgf_wt_model_XXX.prod_%02d.trunc.dcd'	# Local or Global position of the directory where trajectories are located
start = 0		# the integer of the trajectory that will be first to be analyzed
end = 19		# the integer of the trajectory that will be last to be analyzed
Wrapped = True
system = 'wt'		# system descripter string, used for naming files
outputname = 'model_XXX.00.19.hgf_wt.rmsd'
selection_file = 'selection_list.py'

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS
alignment = 'protein and name CA'

# OUTPUT PARAMETERS
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
summary_filename = 'model_XXX.00.19.hgf_wt.avg_rmsd.summary'
selection_output = 'selection_list.out'

